/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
SpringBootUploadFile/.idea
*.iws
*.iml
*.ipr
./idea
Angular4Upload/.idea

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# compiled output
**/dist/
**/dist-server/
**/tmp/
**/out-tsc/

# dependencies
Angular4Upload/node_modules/
